html, body{
    height: 100%;

}
.list{
    height: inherit;
}
#sidebar{
    min-height: inherit;
    background: #1d1919;
    color: #fff;
}
.logo{
    display: block;
    margin: 0 auto;
    font-size: 20;
}
.img{
    width: 120px;
    height: 120px;
}
.friend-image{
    width: inherit; /* You can set the dimensions to whatever you want */
    min-height: 250;
    object-fit: contain;
}